.widget_content_table, .widget_content_table ul, .widget_content_table li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.widget_content_table {
	padding: 20px;
	border: 2px dashed #4892b2;
	display: inline-block;
}

.widget_content_table ul {
	padding: 10px 0;
}
.widget_content_table li {
	font-weight: bold;
}

.widget_content_table ul li {
	font-weight: normal;
}

.widget_content_table a, .widget_content_table a:link,
.widget_content_table a:active, .widget_content_table a:visited {
	display: block;
	text-decoration: none;
	line-height: 1.5em;
}