.jlg_table {
	width: 100%;
	white-space: nowrap;
	border-collapse: collapse;

	border: 1px solid black;
}
.jlg_table tr {
	border-bottom: 1px solid black;
}

.jlg_table th {
	text-align: left;
	font-weight: bold;
	background-color: #CCCCCC;
}
.jlg_table td {
	text-align: left;
}

.jlg_table .jlg_row {
	cursor: pointer;
}

.jlg_table .jlg_row:hover {
	background-color: #EEEEEE;
}

.jlg_table .jlg_row.jlg_selected,
.jlg_table .jlg_row.jlg_selected:hover {
	background-color: #FFCCCC !important;
}

.jlg_table .jlg_cell {
	overflow: hidden;
}